body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* *{
  border: 1px solid wheat;
} */
#root{
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.mainDiv{
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50vw;
}

.title{
  color: #afafea;
  font-size: 6vw;
}
.todolist {
  display: flex;
  flex-direction: column;
  width: 50vw;
  overflow-y: scroll;
  max-height: 50vh;
  
}
.todolist li{
  list-style-type: none;
  list-style: none;
  width:100%;
  
}
.todolist ul{
  padding:0px;
}

.todoitems{
  display: flex;
  flex-direction: row;
  /* justify-content: space-between ; */
  /* flex-wrap: wrap; */
  margin-bottom: 2vh;
  border: 1px solid #eee;
  padding: 15px;
}

.todoitems label{
  max-width: 40vw;
  word-wrap:break-word;
  font-size: 2vw;
  margin-left: 2vw
}
.todoitems button{
  visibility: hidden;
  border :none;
  height: 4vh;
  margin-left: auto;
}
.todoitems:hover{
  box-shadow: rgba(0, 0, 0, 0.22) 0px 5px 10px;
  transform: translate3d(0px, -1px, 0px);
}
.todoitems:hover .btn{
  visibility: visible;
  background-color: inherit;
  
}
.btn{
  cursor: pointer;
}

input[type=checkbox]{
  margin-top: 1vh;
}
input[type=checkbox]:checked + label {
  color: rgb(110, 110, 110);
} 
.addTask{
  cursor: pointer;
  /* float: right; */
  margin-left: auto;
  font-size: 2vw;
  display: flex;
  flex-direction: row;
}